.blog-links {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.blog-links a {
	display: block;
	width: 34px;
	height: 34px;
	margin: 0 5px;
	background: rgb(230, 230, 230);
	padding: 5px;
	border-radius: 3px;
}